# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Midterm.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\NYU 2021\Inter Prog\Midterm\Midterm\.idea\.idea.Midterm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
